<template>
    <div class="app-container">
        <el-row>
            <el-col :span="24">
                <el-button @click="save" style="background-color: teal; color: white;float: right;">
                    Save
                </el-button>


            </el-col>
        </el-row>
        <el-input style="padding-top: 10px"
                  placeholder="Title"
                  v-model="document.title"
                  clearable>

        </el-input>
        <el-input style="padding-top: 10px"
                  placeholder="Ref"
                  v-model="document.ref"
        >

        </el-input>


        <el-select style="padding-top:10px;padding-bottom:10px" v-model="document.type"
                   placeholder="please select type">
            <el-option key="notice" label="Notice" value="Notice">
            </el-option>
            <el-option key="Publication" label="Publication" value="Publication">
            </el-option>
        </el-select>
        <Tinymce :height=700 ref="editor" v-model="document.body"/>

    </div>
</template>

<script>
    import Tinymce from '../../components/Tinymce'

    import waves from '../../directive/waves/index.js'

    export default {
        components: {Tinymce},

        directives: {
            waves
        }, data() {

            return {
                document: {
                    body: "<p><img style=\"float: left;\" src=\"https://psychologytu.edu.np/wp-content/uploads/2017/02/tu-logo.jpg\" alt=\"tu logo\" width=\"100\" height=\"100\" /></p>\n" +
                    "<div style=\"font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif; line-height: 20px; float: left; text-align: center; width: 65%;\">\n" +
                    "<p style=\"text-align: center; margin: 0px; padding: 0px;\">\"SHARE KNOWLEDGE , EXPLORER TECHNIQUE\"</p>\n" +
                    "<p style=\"text-align: center; margin: 0px; padding: 0px;\"><strong>INSTITUDE OF ENGINEERING</strong></p>\n" +
                    "<p style=\"text-align: center; margin: 0px; padding: 0px;\"><strong>PASCHIMANCHAL CAMPUS</strong></p>\n" +
                    "<p style=\"text-align: center; margin: 0px; padding: 0px;\"><strong>ROBOTICS CLUB</strong></p>\n" +
                    "</div>\n" +
                    "<p><img style=\"float: right;\" src=\"https://scontent.fktm3-1.fna.fbcdn.net/v/t1.0-1/c0.0.200.200/p200x200/10382449_970615102952892_2073255288615244787_n.jpg?_nc_cat=107&amp;oh=014d73be42cf6130b8acea209eb9bd9a&amp;oe=5C2223B4\" alt=\"tu logo\" width=\"100\" height=\"100\" /></p>\n" +
                    "<p style=\"clear: both;\">&nbsp;</p>\n" +
                    "<hr />\n" + "<p>ref :  15XXXXXX</p>" +
                    "<h1 style=\"text-align: center;\">TITLE HERE</h1>\n" +
                    "<p>content here</p>",
                    title: null,
                    ref: null,
                    type: null,
                },

            }
        },
        filters: {},
        created() {
            this.document.ref = Date.now();
        },
        methods: {

            save() {
                this.$axios.post("/document", this.document).then(response => {
                    this.$message({
                        type: 'success',
                        message: 'Saved'
                    });
                })
            }


        }
    }
</script>
