<template>
    <div class="app-container">
        <el-row>
            <el-col :span="24">
                <el-button @click="save" style="background-color: teal; color: white;float: right;">
                    Save
                </el-button>


            </el-col>
        </el-row>
        <el-input style="padding-top: 10px"
                  placeholder="Title"
                  v-model="document.title"
                  clearable>

        </el-input>
        <el-input style="padding-top: 10px"
                  placeholder="Ref"
                  v-model="document.ref"
        >

        </el-input>


        <el-select style="padding-top:10px;padding-bottom:10px" v-model="document.type"
                   placeholder="please select type">
            <el-option key="Publication" label="Publication" value="Publication">
            </el-option>
        </el-select>
        <Tinymce :height=700 ref="editor" v-model="document.body"/>

    </div>
</template>

<script>
    import Tinymce from '../../components/Tinymce'

    import waves from '../../directive/waves/index.js'

    export default {
        components: {Tinymce},

        directives: {
            waves
        }, data() {

            return {
                id:null,
                document: null,

            }
        },
        filters: {},
        created() {
            this.id = this.$route.params && this.$route.params.id
            this.$axios.get("/document/" + this.id).then(response => {
                this.document = response.data.data;
            })
        },
        methods: {

            save() {
                this.document["_method"] = "put";
                this.$axios.post("/document/" + this.id, this.document).then(response => {
                    this.document = response.data.data;
                    this.$message({
                        type: 'success',
                        message: 'Saved'
                    });
                })
            }


        }
    }
</script>
