<template>
    <div class="app-container">

        <div class="filter-container">
            <el-input @keyup.enter.native="handleFilter" style="width: 200px;" class="filter-item" placeholder="keyword"
                      v-model="listQuery.name">
            </el-input>
            <el-select @change='handleFilter' style="width: 140px" class="filter-item" v-model="listQuery.sort">
                <el-option v-for="item in sortOptions" :key="item.key" :label="item.label" :value="item.key">
                </el-option>
            </el-select>

            <el-button class="filter-item" type="primary" v-waves icon="el-icon-search" @click="handleFilter">Search
            </el-button>
            <router-link to="/document/create"> <el-button class="filter-item" style="margin-left: 10px;" type="primary"
                       icon="el-icon-edit">Create
            </el-button></router-link>

            <el-button class="filter-item" style="margin-left: 10px;" @click="reload" type="info"
            >Reload
            </el-button>
        </div>


        <el-table :data="list" v-loading.body="listLoading" element-loading-text="Loading" border fit
                  highlight-current-row style="width: 100%;margin-top: 10px;margin-bottom: 10px">
            <el-table-column align="center" label='SN' width="95">
                <template slot-scope="scope">
                    {{scope.$index +1}}
                </template>
            </el-table-column>


            <el-table-column label="Title">
                <template slot-scope="scope">
                    {{scope.row.title}}
                </template>
            </el-table-column>
            <el-table-column label="Ref">
                <template slot-scope="scope">
                    {{scope.row.ref}}
                </template>
            </el-table-column>
            <el-table-column label="Type">
                <template slot-scope="scope">
                    {{scope.row.type}}
                </template>
            </el-table-column>


            <el-table-column align="center" label="Action" width="350" class-name="small-padding fixed-width">
                <template slot-scope="scope">
                    <router-link :to="'/document/edit/'+scope.row.id">
                        <el-button type="info" size="mini">Edit</el-button>
                    </router-link>


                    <el-button size="mini" type="danger"
                               @click="handleDelete(scope.row)">Delete
                    </el-button>
                </template>
            </el-table-column>

        </el-table>

        <div class="pagination-container">
            <el-pagination background @size-change="handleSizeChange" @current-change="handleCurrentChange"
                           :current-page="listQuery.page" :page-sizes="[50,100,150, 200]" :page-size="listQuery.limit"
                           layout="total, sizes, prev, pager, next, jumper" :total="total">
            </el-pagination>
        </div>


    </div>
</template>

<script>

    import waves from '../../directive/waves/index.js'

    export default {
        directives: {
            waves
        }, data() {

            return {
                total: null,
                list: null,
                listLoading: true,
                listQuery: {
                    page: 1,
                    limit: 50,
                    title: undefined,
                    sort: 'desc'
                },
                sortOptions: [{label: 'Ascending', key: 'asc'}, {label: 'Descending', key: 'desc'}],

            }
        },
        filters: {},
        created() {
            this.getList()
        },
        methods: {

            getList() {
                this.listLoading = true
                this.$axios.get("/document", {params: this.listQuery}).then(response => {
                    console.log(response.data)
                    this.list = response.data.data;
                    this.total = response.data.meta.total;

                    setTimeout(() => {
                        this.listLoading = false
                    }, 1.5 * 1000)
                })
            },
            reload() {
                this.listQuery = {
                    page: 1,
                    limit: 50,
                    title: undefined,
                    sort: 'desc'
                };
                this.getList()
            },
            handleFilter() {
                this.listQuery.page = 1
                this.getList()
            },
            handleDelete(row) {
                this.$confirm('This will permanently delete. Continue?', 'Warning', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                    type: 'warning'
                }).then(() => {
                    this.$axios.delete("/document/" + row.id).then(response => {
                        const index = this.list.indexOf(row)
                        this.list.splice(index, 1)
                        this.$message({
                            type: 'success',
                            message: 'Delete completed'
                        });
                    })

                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: 'Delete canceled'
                    });
                });


            },
            handleSizeChange(val) {
                this.listQuery.limit = val
                this.getList()
            },
            handleCurrentChange(val) {
                this.listQuery.page = val
                this.getList()
            }

        }
    }
</script>
