<template>
    <div class="app-container">
        <div class="filter-container">
            <el-button class="filter-item" type="primary" v-waves icon="el-icon-search" @click="sync">SYNC
            </el-button>
            <el-select
                    v-model="print"
                    multiple
                    collapse-tags
                    style="margin-left: 20px;"
                    placeholder="Select">
                <el-option
                        v-for="item in keys"
                        :key="item"
                        :label="item"
                        :value="item">
                </el-option>
            </el-select>
            <el-button class="filter-item" type="primary" v-waves icon="el-icon-search" @click="download">DOWNLOAD
            </el-button>

        </div>

        <el-table :data="response.response" v-loading.body="listLoading" element-loading-text="Loading" border fit
                  highlight-current-row style="width: 100%;margin-top: 10px;margin-bottom: 10px">
            <el-table-column align="center" label='SN' width="95">
                <template slot-scope="scope">
                    {{scope.$index +1}}
                </template>
            </el-table-column>


            <el-table-column v-for="key in keys" v-if="key !== 'Timestamp' & key !=='Score'" :label="key">
                <template slot-scope="scope">
                    {{scope.row[key]}}
                </template>
            </el-table-column>


        </el-table>

    </div>
</template>

<script>

    import waves from '../../directive/waves/index.js'
    import axios from 'axios';

    var jsPDF = require('jspdf');
    require('jspdf-autotable');

    export default {
        directives: {
            waves
        }, data() {

            return {
                id: null,
                keys: [],
                print:[],
                response: null,
                listLoading: false,
                newresponse: null

            }
        },
        filters: {},
        mounted() {

            this.id = this.$route.params && this.$route.params.id
            this.$axios.get("/response/" + this.id).then(response => {
                this.response = response.data.data;
                this.keys = Object.keys(this.response.response[0]);
                this.listLoading = false
            })
        },
        methods: {

            sync: function () {
                this.listLoading = true
                axios.get(this.response.url).then(response => {
                    this.newresponse = JSON.parse(this.CSV2JSON(response.data));
                    var formData = new FormData();

                    formData.append('title', this.response.title);
                    formData.append('url', this.response.url);
                    formData.append('response', JSON.stringify(this.newresponse));
                    formData.append('_method', 'put');

                    this.$axios.post("/response/" + this.id, formData).then(response => {
                        this.$axios.get("/response/" + this.id).then(response => {
                            this.response = response.data.data;
                            this.keys = Object.keys(this.response.response[0]);
                            setTimeout(() => {
                                this.listLoading = false
                            }, 1.5 * 1000)
                        })
                    })
                })


            },
            CSV2JSON: function (csv) {
                var array = this.CSVToArray(csv);
                var objArray = [];
                for (var i = 1; i < array.length; i++) {
                    objArray[i - 1] = {};
                    for (var k = 0; k < array[0].length && k < array[i].length; k++) {
                        var key = array[0][k];
                        objArray[i - 1][key] = array[i][k]
                    }
                }

                var json = JSON.stringify(objArray);
                var str = json.replace(/},/g, "},\r\n");

                return str;
            },
            CSVToArray: function (strData, strDelimiter) {
                // Check to see if the delimiter is defined. If not,
                // then default to comma.
                strDelimiter = (strDelimiter || ",");
                // Create a regular expression to parse the CSV values.
                var objPattern = new RegExp((
                    // Delimiters.
                    "(\\" + strDelimiter + "|\\r?\\n|\\r|^)" +
                    // Quoted fields.
                    "(?:\"([^\"]*(?:\"\"[^\"]*)*)\"|" +
                    // Standard fields.
                    "([^\"\\" + strDelimiter + "\\r\\n]*))"), "gi");
                // Create an array to hold our data. Give the array
                // a default empty first row.
                var arrData = [[]];
                // Create an array to hold our individual pattern
                // matching groups.
                var arrMatches = null;
                // Keep looping over the regular expression matches
                // until we can no longer find a match.
                while (arrMatches = objPattern.exec(strData)) {
                    // Get the delimiter that was found.
                    var strMatchedDelimiter = arrMatches[1];
                    // Check to see if the given delimiter has a length
                    // (is not the start of string) and if it matches
                    // field delimiter. If id does not, then we know
                    // that this delimiter is a row delimiter.
                    if (strMatchedDelimiter.length && (strMatchedDelimiter != strDelimiter)) {
                        // Since we have reached a new row of data,
                        // add an empty row to our data array.
                        arrData.push([]);
                    }
                    // Now that we have our delimiter out of the way,
                    // let's check to see which kind of value we
                    // captured (quoted or unquoted).
                    if (arrMatches[2]) {
                        // We found a quoted value. When we capture
                        // this value, unescape any double quotes.
                        var strMatchedValue = arrMatches[2].replace(
                            new RegExp("\"\"", "g"), "\"");
                    } else {
                        // We found a non-quoted value.
                        var strMatchedValue = arrMatches[3];
                    }
                    // Now that we have our value string, let's add
                    // it to the data array.
                    arrData[arrData.length - 1].push(strMatchedValue);
                }
                // Return the parsed data.
                return (arrData);
            },
            download() {

                var doc = new jsPDF();
                var columns = [];
                for (var i = 0; i < this.print.length; i++) {
                        var data = {title: this.print[i], dataKey: this.print[i]};
                        columns.push(data)

                }
                doc.text('ROBOTICS CLUB OF PASHCHIMANCHAL CAMPUS : '+this.response.title, 14, 16);
                doc.autoTable(columns, this.response.response, {
                    tableLineColor: [189, 195, 199],
                    tableLineWidth: 0.75,
                    styles: {
                        font: 'courier',
                        lineColor: [44, 62, 80],
                        lineWidth: 0.75
                    },
                    headerStyles: {
                        fillColor: [44, 62, 80],
                        fontSize: 15
                    },
                    bodyStyles: {
                        fillColor: [52, 73, 94],
                        textColor: 240
                    },
                    alternateRowStyles: {
                        fillColor: [74, 96, 117]
                    },
                    tableWidth: '100%',
                    theme: 'grid',
                    columnStyles: {text: {columnWidth: 'auto'}},
                    margin: 5,
                    startY: 20


                });

                doc.save(this.response.title+'.pdf');
            }
        },
    }
</script>
