<template>
    <div class="app-container">

        <div class="filter-container">
            <el-input @keyup.enter.native="handleFilter" style="width: 200px;" class="filter-item" placeholder="keyword"
                      v-model="listQuery.name">
            </el-input>
           <el-select @change='handleFilter' style="width: 140px" class="filter-item" v-model="listQuery.sort">
                <el-option v-for="item in sortOptions" :key="item.key" :label="item.label" :value="item.key">
                </el-option>
            </el-select>

            <el-button class="filter-item" type="primary" v-waves icon="el-icon-search" @click="handleFilter">Search
            </el-button>
            <el-button class="filter-item" style="margin-left: 10px;" @click="handleCreate" type="primary"
                       icon="el-icon-edit">Create
            </el-button>

            <el-button class="filter-item" style="margin-left: 10px;" @click="reload" type="info"
            >Reload
            </el-button>
          </div>


        <el-table :data="list" v-loading.body="listLoading" element-loading-text="Loading" border fit
                  highlight-current-row style="width: 100%;margin-top: 10px;margin-bottom: 10px">
            <el-table-column align="center" label='SN' width="95">
                <template slot-scope="scope">
                    {{scope.$index +1}}
                </template>
            </el-table-column>


            <el-table-column label="Title">
                <template slot-scope="scope">
                    {{scope.row.title}}
                </template>
            </el-table-column>


            <el-table-column align="center" label="Action" width="350" class-name="small-padding fixed-width">
                <template slot-scope="scope">
                    <router-link :to="'/response/responsedetail/'+scope.row.id"><el-button type="info" size="mini" >Response</el-button></router-link>

                    <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">Edit</el-button>

                    <el-button size="mini" type="danger"
                               @click="handleDelete(scope.row)">Delete
                    </el-button>
                </template>
            </el-table-column>

        </el-table>

        <div class="pagination-container">
            <el-pagination background @size-change="handleSizeChange" @current-change="handleCurrentChange"
                           :current-page="listQuery.page" :page-sizes="[50,100,150, 200]" :page-size="listQuery.limit"
                           layout="total, sizes, prev, pager, next, jumper" :total="total">
            </el-pagination>
        </div>

        <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible">
            <el-form :rules="rules" ref="dataForm" :model="temp" label-position="left" label-width="100px"
                     style='width: 400px; margin-left:50px;'>

                <el-form-item label="Title" prop="title">
                    <el-input v-model="temp.title"></el-input>
                </el-form-item>

                <el-form-item label="Url" prop="url">
                    <el-input v-model="temp.url"></el-input>
                </el-form-item>


             </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">Cancel</el-button>
                <el-button v-if="dialogStatus=='create'" type="primary" @click="createData">Confirm</el-button>
                <el-button v-else type="primary" @click="updateData">Confirm</el-button>
            </div>
        </el-dialog>

    </div>
</template>

<script>

    import waves from '../../directive/waves/index.js'

    export default {
        directives: {
            waves
        },        data() {

            return {
                total: null,
                list: null,
                listLoading: true,
                listQuery: {
                    page: 1,
                    limit: 50,
                    title: undefined,
                    sort: 'desc'
                },
                sortOptions: [{label: 'Ascending', key: 'asc'}, {label: 'Descending', key: 'desc'}],
                dialogFormVisible: false,
                dialogStatus: '',
                textMap: {
                    update: 'Edit',
                    create: 'Create'
                },

                temp: {
                    id: undefined,
                    title: '',
                    url: '',
                },
                rules: {
                    title: [{required: true, message: 'title is required', trigger: 'change'}],
                    url: [{ required: true, message: 'url is required', trigger: 'blur'}],
                }


            }
        },
        filters: {

        },
        created() {
            this.getList()
        },
        methods: {

            getList() {
                this.listLoading = true
                this.$axios.get("/response", {params: this.listQuery}).then(response => {
                    console.log(response.data)
                    this.list = response.data.data;
                    this.total = response.data.meta.total;

                    setTimeout(() => {
                        this.listLoading = false
                    }, 1.5 * 1000)
                })
            },
            reload() {
                this.listQuery = {
                    page: 1,
                    limit: 50,
                    title: undefined,
                    sort: 'desc'
                };
                this.getList()
            },
            createData() {
                this.$refs['dataForm'].validate((valid) => {
                    if (valid) {
                        var formData = new FormData();
                        if (this.temp.id) {

                            formData.append('id', this.temp.id);
                        }
                        formData.append('title', this.temp.title);
                        if (this.temp.url) {
                            formData.append('url', this.temp.url);
                        }

                        this.$axios.post("/response", formData).then(response => {
                            this.list.unshift(response.data.data)
                            this.dialogFormVisible = false
                            this.$message({
                                type: 'success',
                                message: 'Response Creation completed'
                            });
                        })
                    }
                })
            },
            updateData() {
                this.$refs['dataForm'].validate((valid) => {
                    if (valid) {
                        var formData = new FormData();
                        if (this.temp.id) {

                            formData.append('id', this.temp.id);
                        }
                        formData.append('title', this.temp.title);
                        if (this.temp.url) {
                            formData.append('url', this.temp.url);
                        }

                        formData.append('_method', "put");

                        this.$axios.post("/response/" + this.temp.id, formData).then(response => {
                            for (const v of this.list) {
                                if (v.id === this.temp.id) {
                                    const index = this.list.indexOf(v)
                                    this.list.splice(index, 1, response.data.data)
                                    break
                                }
                            }
                            this.dialogFormVisible = false
                            this.$message({
                                type: 'success',
                                message: 'Response update completed'
                            });
                        })
                    }
                })
            },
            resetTemp() {
                this.temp = {
                    id: undefined,
                    title: '',
                    url: '',
                }
            },
            handleFilter() {
                this.listQuery.page = 1
                this.getList()
            },
            handleDelete(row) {
                this.$confirm('This will permanently delete. Continue?', 'Warning', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                    type: 'warning'
                }).then(() => {
                    this.$axios.delete("/response/" + row.id).then(response => {
                        const index = this.list.indexOf(row)
                        this.list.splice(index, 1)
                        this.$message({
                            type: 'success',
                            message: 'Delete completed'
                        });
                    })

                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: 'Delete canceled'
                    });
                });


            },
            handleSizeChange(val) {
                this.listQuery.limit = val
                this.getList()
            },
            handleCurrentChange(val) {
                this.listQuery.page = val
                this.getList()
            },

            handleCreate() {
                this.resetTemp()
                this.dialogStatus = 'create'
                this.dialogFormVisible = true
                this.$nextTick(() => {
                    this.$refs['dataForm'].clearValidate()
                })
            },
            handleUpdate(row) {
                this.temp = Object.assign({}, row)
                this.dialogStatus = 'update'
                this.dialogFormVisible = true
                this.$nextTick(() => {
                    this.$refs['dataForm'].clearValidate()
                })
            },


        }
    }
</script>
