<template>
    <el-row :gutter="20" style="padding: 10px">

        <loading
                :show="show"
                :label="label">
        </loading>

        <el-col :span="10" :offset="7">
            <el-card class="box-card">
                <el-row type="flex" class="row-bg" justify="center"
                        style="border-bottom: 1px solid teal; margin-top: 0px;margin: 20px;">
                    <p class="text-center font-weight-bold"
                       style="/*! border-bottom: 1px solid teal; */ margin-bottom: 6px; margin-top: 0px;font-size: 35px;font-variant: all-petite-caps;color: teal;font-weight: bold;margin-bottom: 5px">
                        {{app.title}}</p>
                </el-row>

                <el-form :rules="rules" :model="loginForm" ref="dataForm" label-position="left" label-width="100px"
                         style='width: 400px; margin-left:50px;'>
                    <el-form-item label="Email" prop="email">
                        <el-input type="email" placeholder="Email" v-model="loginForm.email"
                                  aria-required="true"></el-input>

                    </el-form-item>
                    <el-form-item label="Password" prop="password">
                        <el-input type="password" placeholder="Password" v-model="loginForm.password"
                                  aria-required="true"></el-input>
                    </el-form-item>

                    <el-form-item>
                        <el-button style="background-color: teal ; color: white" class="float-right" @click="login()">
                            Login
                        </el-button>
                    </el-form-item>

                </el-form>
                <el-row type="flex" class="row-bg" justify="center">

                    <div style="padding: 10px">Not registered yet ?</div>
                    <el-button style="background-color: teal ; color: white" class="float-right" @click="register()">
                        Register
                    </el-button>
                </el-row>
            </el-card>
        </el-col>
    </el-row>


</template>

<script>
    import loading from 'vue-full-loading';
    import {mapGetters} from 'vuex'

    export default {
        components: {
            loading
        },

        data() {
            return {
                loginForm: {
                    email: '',
                    password: ''
                },
                show: false,
                label: 'Authenticating...',
                rules: {
                    email: [{type: 'email', required: true, message: 'email is required', trigger: 'blur'}],
                    password: [{required: true, message: 'password is required', trigger: 'blur'}],


                }

            }

        },
        computed: {
            ...mapGetters([
                'app',
            ])
        },

        methods: {
            login() {
                this.show = true;

                this.$store.dispatch('Login', this.loginForm).then(response => {

                    if (response.access_token) {
                        this.$store.dispatch('GetUserInfo').then(() => {
                            this.show = false;
                            this.$router.push({path: '/dashboard'})
                        }).catch((err) => {
                            this.show = false;
                        })
                    }else{
                        this.show = false;
                    }
                }).catch((err) => {
                    this.show = false;
                })
            },
            register() {
                this.$router.push('/register')

            }
        }
    }

</script>
<style>

    .el-card__header {
        background-color: teal !important;
    }

    .btn {
        background: #42b983;
        color: white;
    }

    h2 {
        color: #42b983;
        text-transform: capitalize;
        font-weight: bolder;

    }

    .login-form {
        width: 340px;
        margin: 50px auto;
    }

    .login-form form {
        margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }

    .login-form h2 {
        margin: 0 0 15px;
    }

    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }

    .btn {
        font-size: 15px;
        font-weight: bold;
    }
</style>