<template>
    <div class="right_col" style="height: 100% !important;" role="main">
    </div>
</template>

<script>

    export default {
        components: {},
        data() {
            return {



            }
        },

        computed: {},
        created() {



        },
        methods: {


        }
    }
</script>