    <template>
        <div>

            <div id="mybutton">
                <router-link to="/"> <button class="feedback">HOMEPAGE</button></router-link>
            </div>

            <div
                    v-bind:style="{'background': 'linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)) , url(' + event.image + ') center center /cover no-repeat fixed ' }" class=" bg-overlay position-relative overflow-hidden p-3 p-md-5  text-center bg-light">
                <div class="col-md-5 p-lg-5 mx-auto my-5">
                    <h1 class="display-4 " style="font-weight: 700;
    font-family: roboto slab,times new roman,serif;font-size: 3.8em;
    line-height: 1.15em;margin-top: 20px;
    margin-bottom: 10px;">{{event.title}}</h1>
                  <h4>  <p style="">{{event.slogan}}</p></h4>
                    <div style="color:yellow"> #{{event.tag}}</div>
                   <a href="#detail"> <button class="btn btn-default btn_text" >
                        <span data-text="E">e</span>
                        <span data-text="X">x</span>
                        <span data-text="P">p</span>
                        <span data-text="L">l</span>
                        <span data-text="O">o</span>
                        <span data-text="R">r</span>
                        <span data-text="E">e</span>
                    </button></a>

                </div>
                <div class="product-device box-shadow d-none d-md-block"></div>
                <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
            </div>

            <SponsorScroll :object="event.sponsor"></SponsorScroll>

            <About :object="event"></About>

            <component v-for="section in event.sections"  :object=section  v-bind:is=section.type></component>

            <Sponsor :object="event.sponsor"></Sponsor>

        </div>

    </template>

    <script>
        import CountTo from 'vue-count-to'
        import InfiniteSlideBar from 'vue-infinite-slide-bar'
        import Sponsor from './blog/sponsor.vue'
        import SponsorScroll from './blog/sponserscroll.vue'
        import About from "./blog/about";
        import download from './blog/download.vue'
        import list from './blog/list.vue'



        export default {

            components: {
                About,
                Sponsor,
                CountTo, InfiniteSlideBar,SponsorScroll,download,list
            },
            data() {
                return {
                    slug:null,
                    event:null,
                }
            },
            mounted() {

            },
            created(){
                this.slug= this.$route.params && this.$route.params.slug

                this.$axios.get("/event/"+this.slug).then(response => {
                   this.event = response.data.data
                })
            },
            methods: {
                onSubmit() {
                    console.log('submit!');
                }
            },
            filters: {}
        }

    </script>
    <style rel="stylesheet/scss" lang="scss" scoped>


        .btn_text
        {
            overflow-x: hidden;
            border: 0;
            border-radius: 0 !important;
            background: teal;
            margin-top: 10px;
        }

        .btn_text:hover
        {

            background: teal;
        }


        .btn_text span
        {
            display: inline-block;
            transition: 0.5s;
            text-transform: uppercase;
            color:#fff;
            font-size: 26px;
        }

        .btn_text span:nth-child(odd):before
        {
            content: attr(data-text);
            position: absolute;
            transform: translateY(100%);
        }

        .btn_text span:nth-child(odd)
        {
            transform: translateY(-100%);
        }

        .btn_text:hover span:nth-child(odd)
        {
            transform: translateY(0);
        }

        .btn_text span:nth-child(even):before
        {
            content: attr(data-text);
            position: absolute;
            transform: translateY(-100%);
        }

        .btn_text span:nth-child(even)
        {
            transform: translateY(100%);
        }

        .detail{
            font-size: 19px;
            line-height: 1.5em;
            color: #555;
            margin-bottom: 30px;font-family: Roboto,Helvetica,Arial,sans-serif;
            font-weight: 300;
            line-height: 1.5em;
        }
        .title{
            color: #3c4858;
            text-decoration: none;font-weight: 700;
            font-family: roboto slab,times new roman,serif;font-size: 1.825em;
            line-height: 1.4em;
            margin: 20px 0 10px;
        }

        .bgimg1 {
            background: linear-gradient(0deg, rgba(87, 59, 76, 0.3), teal), url(https://image.ibb.co/cHrUNT/ROBOCUP_5x3_ALL_SPONSORS_1.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }

        .bg-overlay {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            color: #fff;
            height: 600px;
            padding-top: 50px;
        }



        .timeline {
            position: relative;
            padding:4px 0 0 0;
            margin-top:22px;
            list-style: none;
        }

        .timeline>li:nth-child(even) {
            position: relative;
            margin-bottom: 50px;
            height: 180px;
            right:-100px;
        }

        .timeline>li:nth-child(odd) {
            position: relative;
            margin-bottom: 50px;
            height: 180px;
            left:-100px;
        }

        .timeline>li:before,
        .timeline>li:after {
            content: " ";
            display: table;
        }

        .timeline>li:after {
            clear: both;
            min-height: 170px;
        }

        .timeline > li .timeline-panel {
            position: relative;
            float: left;
            width: 41%;
            padding: 0 20px 20px 30px;
            text-align: right;
        }

        .timeline>li .timeline-panel:before {
            right: auto;
            left: -15px;
            border-right-width: 15px;
            border-left-width: 0;
        }

        .timeline>li .timeline-panel:after {
            right: auto;
            left: -14px;
            border-right-width: 14px;
            border-left-width: 0;
        }

        .timeline>li .timeline-image {
            z-index: 100;
            position: absolute;
            left: 50%;
            border: 7px solid #3b5998;
            border-radius: 100%;
            background-color: #3b5998;
            box-shadow: 0 0 5px #4582ec;
            width: 200px;
            height: 200px;
            margin-left: -100px;
        }

        .timeline>li .timeline-image h4 {
            margin-top: 12px;
            font-size: 10px;
            line-height: 14px;
        }

        .timeline>li.timeline-inverted>.timeline-panel {
            float: right;
            padding: 0 30px 20px 20px;
            text-align: left;
        }

        .timeline>li.timeline-inverted>.timeline-panel:before {
            right: auto;
            left: -15px;
            border-right-width: 15px;
            border-left-width: 0;
        }

        .timeline>li.timeline-inverted>.timeline-panel:after {
            right: auto;
            left: -14px;
            border-right-width: 14px;
            border-left-width: 0;
        }

        .timeline>li:last-child {
            margin-bottom: 0;
        }

        .timeline .timeline-heading h4 {
            margin-top:22px;
            margin-bottom: 4px;
            padding:0;
            color: #b3b3b3;
        }

        .timeline .timeline-heading h4.subheading {
            margin:0;
            padding:0;
            text-transform: none;
            font-size:18px;
            color:#333333;
        }

        .timeline .timeline-body>p,
        .timeline .timeline-body>ul {
            margin-bottom: 0;
            color:#808080;
        }
        /*Style for even div.line*/
        .timeline>li:nth-child(odd) .line:before {
            content: "";
            position: absolute;
            top: 60px;
            bottom: 0;
            left: 690px;
            width: 4px;
            height:340px;
            background-color: #3b5998;
            -ms-transform: rotate(-44deg); /* IE 9 */
            -webkit-transform: rotate(-44deg); /* Safari */
            transform: rotate(-44deg);
            box-shadow: 0 0 5px #4582ec;
        }
        /*Style for odd div.line*/
        .timeline>li:nth-child(even) .line:before  {
            content: "";
            position: absolute;
            top: 60px;
            bottom: 0;
            left: 450px;
            width: 4px;
            height:340px;
            background-color: #3b5998;
            -ms-transform: rotate(44deg); /* IE 9 */
            -webkit-transform: rotate(44deg); /* Safari */
            transform: rotate(44deg);
            box-shadow: 0 0 5px #4582ec;
        }
        /* Medium Devices, .visible-md-* */
        @media (min-width: 992px) and (max-width: 1199px) {
            .timeline > li:nth-child(even) {
                margin-bottom: 0px;
                min-height: 0px;
                right: 0px;
            }
            .timeline > li:nth-child(odd) {
                margin-bottom: 0px;
                min-height: 0px;
                left: 0px;
            }
            .timeline>li:nth-child(even) .timeline-image {
                left: 0;
                margin-left: 0px;
            }
            .timeline>li:nth-child(odd) .timeline-image {
                left: 690px;
                margin-left: 0px;
            }
            .timeline > li:nth-child(even) .timeline-panel {
                width: 76%;
                padding: 0 0 20px 0px;
                text-align: left;
            }
            .timeline > li:nth-child(odd) .timeline-panel {
                width: 70%;
                padding: 0 0 20px 0px;
                text-align: right;
            }
            .timeline > li .line {
                display: none;
            }
        }
        /* Small Devices, Tablets */
        @media (min-width: 768px) and (max-width: 991px) {
            .timeline > li:nth-child(even) {
                margin-bottom: 0px;
                min-height: 0px;
                right: 0px;
            }
            .timeline > li:nth-child(odd) {
                margin-bottom: 0px;
                min-height: 0px;
                left: 0px;
            }
            .timeline>li:nth-child(even) .timeline-image {
                left: 0;
                margin-left: 0px;
            }
            .timeline>li:nth-child(odd) .timeline-image {
                left: 520px;
                margin-left: 0px;
            }
            .timeline > li:nth-child(even) .timeline-panel {
                width: 70%;
                padding: 0 0 20px 0px;
                text-align: left;
            }
            .timeline > li:nth-child(odd) .timeline-panel {
                width: 70%;
                padding: 0 0 20px 0px;
                text-align: right;
            }
            .timeline > li .line {
                display: none;
            }
        }
        /* Custom, iPhone Retina */
        @media only screen and (max-width: 767px) {
            .timeline > li:nth-child(even) {
                margin-bottom: 0px;
                min-height: 0px;
                right: 0px;
            }
            .timeline > li:nth-child(odd) {
                margin-bottom: 0px;
                min-height: 0px;
                left: 0px;
            }
            .timeline>li .timeline-image {
                position: static;
                width: 150px;
                height: 150px;
                margin-bottom:0px;
            }
            .timeline>li:nth-child(even) .timeline-image {
                left: 0;
                margin-left: 0;
            }
            .timeline>li:nth-child(odd) .timeline-image {
                float:right;
                left: 0px;
                margin-left:0;
            }
            .timeline > li:nth-child(even) .timeline-panel {
                width: 100%;
                padding: 0 0 20px 14px;
            }
            .timeline > li:nth-child(odd) .timeline-panel {
                width: 100%;
                padding: 0 14px 20px 0px;
            }
            .timeline > li .line {
                display: none;
            }
        }

        .feedback {
            background-color : teal;
            color: yellow;
            padding: 10px 20px;
            border-radius: 4px;
            border-color: #46b8da;

            transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
        }

        #mybutton {
            position: fixed;
            right: -40px;
            top: 30%;
        }
    </style>