<template>
    <div>

        <el-carousel :interval="5000" type="card" style="margin: 15px" arrow="always">
            <el-carousel-item v-for="slide in slides">
                <div class="">
                    <img
                            :src="slide.image">
                    <div class="centered" style="background-color: #0c1218;padding: 10px;text-align: center;">
                        <span style="font-size: 28px;color: #FFF;font-weight: 400;line-height: 1.2;font-family: 'Oswald', sans-serif;letter-spacing: 2px;text-transform: uppercase;text-shadow: 1px 1px 1px rgba(0,0,0,0.2);">{{slide.title}}</span>
                        <div style="color:white">
                            {{slide.slogan}}
                        </div>
                        <div style="color:yellow"> #{{slide.tag}}</div>

                    </div>
                </div>
            </el-carousel-item>

        </el-carousel>

        <el-row :gutter="40" class="panel-group" style="">

            <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
                <div class="card-panel">
                    <div class="card-panel-icon-wrapper icon-message">
                        <svg-icon icon-class="guide" class-name="card-panel-icon"/>
                    </div>
                    <div class="card-panel-description">
                        <div class="card-panel-text">Training</div>
                        <count-to :start-val="0" :end-val="50" :duration="3000" class="card-panel-num"/>
                    </div>
                </div>
            </el-col>
            <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
                <div class="card-panel">
                    <div class="card-panel-icon-wrapper icon-people">
                        <svg-icon icon-class="peoples" class-name="card-panel-icon"/>
                    </div>
                    <div class="card-panel-description">
                        <div class="card-panel-text">Student Reached</div>
                        <count-to :start-val="0" :end-val="10000" :duration="2600" class="card-panel-num"/>
                    </div>
                </div>
            </el-col>

            <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
                <div class="card-panel">
                    <div class="card-panel-icon-wrapper icon-money">
                        <svg-icon icon-class="dashboard" class-name="card-panel-icon"/>
                    </div>
                    <div class="card-panel-description">
                        <div class="card-panel-text">Compeditions</div>
                        <count-to :start-val="0" :end-val="10" :duration="3200" class="card-panel-num"/>
                    </div>
                </div>
            </el-col>
            <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
                <div class="card-panel">
                    <div class="card-panel-icon-wrapper icon-shoppingCard">
                        <svg-icon icon-class="international" class-name="card-panel-icon"/>
                    </div>
                    <div class="card-panel-description">
                        <div class="card-panel-text">Awards</div>
                        <count-to :start-val="0" :end-val="5" :duration="3600" class="card-panel-num"/>
                    </div>
                </div>
            </el-col>
        </el-row>
        <el-row style="margin:50px;text-align: center;">
<span style="padding: 5px;
font-size: 20px !important;
font-weight: bold;">Recent Post</span>
        </el-row>
        <div class="container">

            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6  py-0 pl-3 pr-1 featcard">
                    <!--<div id="featured" class="carousel slide carousel-fade" data-ride="carousel">-->
                    <!--<div class="carousel-inner">-->
                    <!--<div class="carousel-item "  v-for="event in events">-->
                    <!--<router-link :to="'/event/'+event.slug">-->

                    <!--<div class="card bg-dark text-white">-->
                    <!--<img class="card-img img-fluid"-->
                    <!--:src="event.image" alt="">-->
                    <!--<div class="card-img-overlay d-flex linkfeat">-->
                    <!--<a href="/" class="align-self-end">-->
                    <!--<span class="badge">{{event.tag}}</span>-->
                    <!--<h4 class="card-title">{{event.title}}</h4>-->
                    <!--<p class="textfeat" style="display: none;">{{event.slogan}} </p>-->
                    <!--</a>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</router-link>-->
                    <!--</div>-->

                    <!--</div>-->

                    <!--</div>-->

                    <el-carousel :interval="5000" style="margin: 15px" arrow="always">
                        <el-carousel-item v-for="event in events">
                            <router-link :to="'/event/'+event.slug">

                                <div class="card bg-dark text-white hoveritem">
                                    <img class="card-img img-fluid"
                                         :src="event.image" alt="">
                                    <div class="card-img-overlay d-flex linkfeat">
                                        <a href="/" class="align-self-end">
                                            <span class="badge">{{event.tag}}</span>
                                            <h4 class="card-title">{{event.title}}</h4>
                                            <p class="textfeat" style="display: none;">{{event.slogan}} </p>
                                        </a>
                                    </div>
                                </div>
                            </router-link>
                        </el-carousel-item>

                    </el-carousel>
                </div>
                <div class="col-6 py-0 px-1 d-none d-lg-block">
                    <div class="row">
                        <div class="col-6 pb-2 mg-1	" v-for="event in events">
                            <router-link :to="'/event/'+event.slug">

                            <div class="card bg-dark text-white">
                                <img class="card-img img-fluid"
                                     :src="event.image"
                                     alt="">
                                <div class="card-img-overlay d-flex">
                                    <a  class="align-self-end">
                                        <span class="badge">{{event.tag}}</span>
                                        <h6 class="card-title">{{event.title}}</h6>
                                    </a>
                                </div>
                            </div>
                            </router-link>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <el-row style="margin:50px;text-align: center;">
<span style="padding: 5px;
font-size: 20px !important;
font-weight: bold;">What We Do</span>
        </el-row>
        <el-row>


            <el-col :span="7" :offset="3" style="margin-bottom:20px;">
                <el-card :body-style="{ padding: '0px' }">
                    <img src="https://www.newbury-college.ac.uk/images/feature_icons/al_icon_skills.png" height="200px"
                         style="margin-left: auto;
    margin-right: auto;
    display: block;" class="image">
                    <div style="padding: 14px;text-align: center;">
        <span style="padding: 5px;
font-size: 20px !important;
font-weight: bold;">Skill Development Programs</span>
                        <div style="margin-top:10px;margin-bottom:10px;font-size:13px">
                            Robotics Club offers a wide variety of Skill Development Programs to prepare students to
                            succeed in a fast-paced technology-infused global economy.
                        </div>
                        <div class="bottom clearfix">
                            <!--<el-button style="background-color:teal;color:white" class="button">Tap to know more-->
                            <!--</el-button>-->
                        </div>
                    </div>
                </el-card>
            </el-col>

            <el-col :span="7" :offset="3" style="margin-bottom:20px;">
                <el-card :body-style="{ padding: '0px' }">
                    <img src="https://goodwilltxla.org/wp-content/uploads/2016/11/life-skills-300x300.png"
                         height="200px" style="margin-left: auto;
    margin-right: auto;
    display: block;" class="image">
                    <div style="padding: 14px;text-align: center;">
        <span style="padding: 5px;
font-size: 20px !important;
font-weight: bold;">Research & Development Projects</span>
                        <div style="margin-top:10px;margin-bottom:10px;font-size:13px">
                            In the process of making the world a better place, Robotics Club is successfully running
                            various world-changing Projects.
                        </div>
                        <div class="bottom clearfix">
                            <!--<el-button style="background-color:teal;color:white" class="button">Tap to know more-->
                            <!--</el-button>-->
                        </div>
                    </div>
                </el-card>
            </el-col>


            <el-col :span="7" :offset="3" style="margin-bottom:20px;">
                <el-card :body-style="{ padding: '0px' }">
                    <img src="https://tulsa.teachforamerica.org/sites/default/files/styles/slide_medium/public/thumbnails/image/2017/01/170109_teaching_here_17.png?itok=bZjQ5Fj0"
                         height="200px" style="margin-left: auto;
    margin-right: auto;
    display: block;" class="image">
                    <div style="padding: 14px;text-align: center;">
        <span style="padding: 5px;
font-size: 20px !important;
font-weight: bold;">Sessions & Training</span>
                        <div style="margin-top:10px;margin-bottom:10px;font-size:13px">
                            In the process of making the world a better place, Robotics Club is successfully running
                            various world-changing Projects.
                        </div>
                        <div class="bottom clearfix">
                            <!--<el-button style="background-color:teal;color:white" class="button">Tap to know more-->
                            <!--</el-button>-->
                        </div>
                    </div>
                </el-card>
            </el-col>

            <el-col :span="7" :offset="3" style="margin-bottom:20px;">
                <el-card :body-style="{ padding: '0px' }">
                    <img src="https://image.ibb.co/ctwR7p/3dprinter.jpg" height="200px" style="margin-left: auto;
    margin-right: auto;
    display: block;" class="image">
                    <div style="padding: 14px;text-align: center;">
        <span style="padding: 5px;
font-size: 20px !important;
font-weight: bold;">3D Printing & Modeling</span>
                        <div style="margin-top:10px;margin-bottom:10px;font-size:13px">
                            Robotics Club offers a wide variety of 3D printing & modeling training to prepare students
                            to succeed in a fast-paced technology-infused global economy.
                        </div>
                        <div class="bottom clearfix">
                            <!--<el-button style="background-color:teal;color:white" class="button">-->
                            <!--<router-link to="/event">Tap to know more-->
                            <!--</router-link>-->
                            <!--</el-button>-->
                        </div>
                    </div>
                </el-card>
            </el-col>
        </el-row>

        <el-row class="bgimg">
            <el-col :span="24" style="height:500px" class="bgimg">
                <div style="font-size: 17px;
color: rgb(225, 224, 224);
padding: 20px;
font-style: italic;
line-height: 2.5;
letter-spacing: 0.4px;
text-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
text-align: center;
margin-top: 200px;
font-weight: 100;
font-family: initial;">
                    We are a <span style="color: aliceblue;font-weight: bold;">team</span> that is excited to build
                    physical things and explore curiosities with an ultimate goal to transform them into knowledge and
                    experience. As our motto stands <span style="color: aliceblue;font-weight: bold;">“Share Knowledge Explore Technique”</span>,
                    we are pushing forward what’s possible as a student club, both in terms of technical accomplishments
                    and educational value. This is why we welcome all interested students, provide them with hands on
                    experience on building <span style="color: aliceblue;font-weight: bold;">robots</span>.
                </div>
            </el-col>
        </el-row>
        <infinite-slide-bar
                :barStyle="{ background: 'teal', padding: '10px 5px' , margin: '0px 0px' ,'text-align': 'center'}"
                duration="0s">
            <span style="color: yellow;">Nepal lags far behind the technological research. We consume technology but do no research on it. You can change this by investing on us
                <el-button size="mini" style="color:blue;" href="/sponser" class="btn"> LEARN MORE </el-button></span>
        </infinite-slide-bar>


        <el-row style="margin:50px;text-align: center;">
<span style="padding: 5px;
font-size: 20px !important;
font-weight: bold;">Our Sponsers and Supporters</span>
        </el-row>
        <infinite-slide-bar>
            <el-row>
                <el-col :span="6">
                    <div>
                        <img height="100px" src="https://himalayansolution.com/img/logo-h-s.png">
                    </div>
                    <div class="f-left">
                        <div style="font-weight:bold">Himaliyan Solution</div>
                        <div>
                            <a style="color:blue" href="http://himalayansolution.com/"> www.himaliyansolution.com </a>
                        </div>
                    </div>
                </el-col>
                <el-col :span="4">
                    <div>
                        <img height="100px"
                             src="https://scontent.fktm1-1.fna.fbcdn.net/v/t1.0-1/p200x200/16388244_1892372397647987_3467532766744441454_n.jpg?_nc_cat=0&oh=f19a9b9bf90848a6c400dde4ccb87f59&oe=5B9E914A">
                    </div>
                    <div class="f-left">
                        <div style="font-weight:bold">Oasis Education</div>
                        <div>
                            <a style="color:blue"
                               href="https://www.facebook.com/pg/oe.pokhara/about/?ref=page_internal"> Oasis Education -
                                Pokhara</a>
                        </div>
                    </div>
                </el-col>
                <el-col :span="4">
                    <div>
                        <img height="100px"
                             src="https://scontent.fktm3-1.fna.fbcdn.net/v/t1.0-1/p200x200/37948203_966922310146960_2053172879213723648_n.png?_nc_cat=0&oh=4126fde625f0fd4f90bf1d2f5543cbcc&oe=5BFACF53">
                    </div>
                    <div class="f-left">
                        <div style="font-weight:bold">Bharyang Ventures</div>
                        <div>
                            <a style="color:blue" href="https://bharyang.com/">bharyang.com</a>
                        </div>
                    </div>
                </el-col>

                <el-col :span="4">
                    <div>
                        <img height="100px"
                             src="https://scontent.fktm3-1.fna.fbcdn.net/v/t1.0-1/p200x200/35544378_1057125447770051_7873424486706446336_n.jpg?_nc_cat=0&oh=16eca81f9edff2f1744f425e4088515a&oe=5C3101F0">
                    </div>
                    <div class="f-left">
                        <div style="font-weight:bold">MidTown Galleria</div>
                        <div>
                            <a style="color:blue" href="http://www.midtown.com.np/">www.midtown.com.np</a>
                        </div>
                    </div>
                </el-col>


                <el-col :span="4">
                    <div>
                        <img height="100px"
                             src="https://scontent.fktm3-1.fna.fbcdn.net/v/t1.0-1/p200x200/15350563_693552870825193_3738680589864475735_n.png?_nc_cat=0&oh=2c522dbacd7b322c2b424c6fce5ce6d7&oe=5BF2EAF3">
                    </div>
                    <div class="f-left">
                        <div style="font-weight:bold">Tech Inn Group</div>
                        <div>
                            <a style="color:blue" href="http://techinngroup.com/">techinngroup.com</a>
                        </div>
                    </div>
                </el-col>
            </el-row>

        </infinite-slide-bar>


        <el-row class="bgimg1" style="margin-top:80px;padding:100px;color: white;">
            <el-col :span="10" style="padding-left:130px;padding-top:100px">
                <div class="address-box">


                    <h3><i class="el-icon-location-outline"></i> Find us at the Lab</h3>
                    <div class="address-contact" style="font-size: inherit;font-style: italic;line-height: 1.5;">


                        Pokhara , lamachaur-16<br>
                        Humanity Departmant<br>
                        Paschimanchal Campus<br>


                    </div>

                    <h3><i class="el-icon-phone"></i> Email</h3>

                    <div class="address-contact">
                        robotics@wrc.edu.np
                    </div>


                </div>
                <div style="margin:20px">
                    <el-button style="background-color:#3b5999;color:white">Facebook</el-button>
                    <el-button style="background-color:#55acee;color:white">Twitter</el-button>
                </div>
            </el-col>
            <el-col :span="10" style="background-color:white;padding:30px">
                <el-form ref="form" :model="form" label-width="120px" label-position="top">
                    <el-form-item label="NAME">
                        <el-input v-model="form.name"></el-input>
                    </el-form-item>

                    <el-form-item label="EMAIL">
                        <el-input type="email" v-model="form.email"></el-input>
                    </el-form-item>

                    <el-form-item label="TYPE">
                        <el-radio-group v-model="form.resource">
                            <el-radio label="Sponsor"></el-radio>
                            <el-radio label="Query"></el-radio>
                            <el-radio label="Contact"></el-radio>

                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="MESSAGE">
                        <el-input type="textarea" v-model="form.desc"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button style="background-color:teal;color:white;float:right" @click="onSubmit">Send
                            Message
                        </el-button>
                    </el-form-item>
                </el-form>
            </el-col>
            <el-col :span="4" style="height:100px">
            </el-col>
        </el-row>
        <!--<el-dialog-->
                <!--title="-->
<!--CALL FOR VOLUNTEERS"-->
                <!--:visible.sync="dialogVisible"-->

                <!--width="40%"-->
                <!--center>-->
            <!--<img width="100%"-->
                 <!--src="http://www.methactonunited.com/_uploads/58b719847aec09b56b6c6a56/cover_volunteer_musc_1000x484.png">-->
            <!--<span slot="footer" class="dialog-footer">-->
    <!--<el-button style="background-color: teal;color: #ffffff"-->
               <!--@click="dialogVisible = false">Apply</el-button>-->
  <!--</span>-->
        <!--</el-dialog>-->


    </div>
</template>

<script>
    import CountTo from 'vue-count-to'
    import InfiniteSlideBar from 'vue-infinite-slide-bar'

    export default {

        components: {
            CountTo, InfiniteSlideBar
        },
        data() {
            return {
                form: {

                    name: '',
                    region: '',

                    date1: '',
                    date2: '',
                    delivery: false,
                    type: [],
                    resource: '',
                    desc: ''
                },
                slides: [],
                events: [],
                dialogVisible: true
            }
        },
        mounted() {

        },
        created() {
            this.$axios.get("/slide").then(response => {
                this.slides = response.data.data;
            })
            this.$axios.get("/event").then(response => {
                this.events = response.data.data;
            })
        },
        methods: {
            onSubmit() {
                console.log('submit!');
            }
        },
        filters: {}
    }

</script>
<style rel="stylesheet/scss" lang="scss" scoped>
    .hoveritem:hover .textfeat {
        display: block;
    }

    .el-carousel__item h3 {
        color: #475669;
        font-size: 18px;
        opacity: 0.75;
        line-height: 300px;
        margin: 0;
    }

    .el-carousel__item:nth-child(2n) {
        background-color: #99a9bf;
    }

    .el-carousel__item:nth-child(2n+1) {
        background-color: #d3dce6;
    }

    .container {
        position: relative;
        text-align: center;
        color: white;
    }

    /* Centered text */
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .panel-group {
        margin-top: 18px;
        .card-panel-col {
            margin-bottom: 32px;
        }
        .card-panel {
            height: 108px;
            cursor: pointer;
            font-size: 12px;
            position: relative;
            overflow: hidden;
            color: #666;
            background: teal;
            box-shadow: 4px 4px 40px rgba(0, 0, 0, .05);
            border-color: rgba(0, 0, 0, .05);
            &:hover {
                .card-panel-icon-wrapper {
                    color: #fff;
                }
                .icon-people {
                    background: #40c9c6;
                }
                .icon-message {
                    background: #36a3f7;
                }
                .icon-money {
                    background: #f4516c;
                }
                .icon-shoppingCard {
                    background: #34bfa3
                }
            }
            .icon-people {
                color: #40c9c6;
            }
            .icon-message {
                color: #36a3f7;
            }
            .icon-money {
                color: #f4516c;
            }
            .icon-shoppingCard {
                color: #34bfa3
            }
            .card-panel-icon-wrapper {
                float: left;
                margin: 14px 0 0 14px;
                padding: 16px;
                transition: all 0.38s ease-out;
                border-radius: 6px;
            }
            .card-panel-icon {
                float: left;
                font-size: 48px;
            }
            .card-panel-description {
                float: right;
                font-weight: bold;
                margin: 26px;
                margin-left: 0px;
                .card-panel-text {
                    line-height: 18px;
                    color: #d1cfcf;
                    font-size: 16px;
                    margin-bottom: 12px;
                }
                .card-panel-num {
                    font-size: 20px;
                    color: white
                }
            }
        }
    }

    .bgimg1 {
        background: linear-gradient(0deg, rgba(87, 59, 76, 0.3), teal), url(https://lh3.googleusercontent.com/RUtYzqzmoLjCN3SkU4iArSQ3uKkF-XqXo3awhCtajPZODbY79qtSxH-h-VYqBhAgMNAeuLLqs6qLPNx4HujemDBAJdE4qUFb5mVYS_PT6f9U8UwQBPv3Iq-XUfuYO_-06qgPu4ir0JeRONz4cHjnjsbnDNyOiXRRmfQx4i-6lbkE4x6GWSbzVrjQbqe79BbPsoI0YmKui07o-pASFwVnUyogJYHIwkrcbRM7w-wfjaBRFpXm6RrWlVD5zly3-ATfsmalB9waptK-4gpOg3jQ_RCmL2G47ounRjde-QAHlJOf0zDtw8vF3wr8ZfHfkIacuu8X4gaDmEHEdr_1hEYM0kjJItfVn-qgSxoFUc1wD5N5j2Jt5TlcPQrX55XW9Kpre9s579-bEbiJ43lvAuGocDU5k12MA8nSZpabh94iN5n218MYj6yujFLOy_4clMfATwefo4XTOB97ym9RcClgKP8wgFMCslGN6NDeQ42F-PYzzQJXgJgzDT9tUykd28giGa7bAD_FN_en2umOXj6ZVIVAgFrDrwKZhyfTqyrZaEw18JiyCywZdclZSJZhScIKAulZfBbxK06HnRvUTY4s2MMe_XnmJJj5r6tLdwOEtMjPaAxV=w1154-h649-no);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bgimg {
        background: linear-gradient(0deg, rgba(87, 59, 76, 0.3), teal), url(https://farm8.static.flickr.com/7015/6779188097_47ba659025_b.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    /*HYPER LINK*/
    a:hover {

    }

    a, a:focus, a:hover {
        text-decoration: none;
        color: inherit;
    }

    a:hover, .btn {
        outline: none !important;
    }

    /*ROUNDED CORNER*/
    * {
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
    }

    /*CATEGORIES BADGE*/
    .badge {
        font-weight: 600;
        font-size: 13px;
        color: white;
        background-color: teal;
    }

    /*FEATURED*/
    .mg-2, .mg-4 {
        margin-left: -20px;
    }

    .linkfeat {
        background: rgba(76, 76, 76, 0);
        background: -moz-linear-gradient(top, rgba(76, 76, 76, 0) 0%, rgba(48, 48, 48, 0) 49%, rgba(19, 19, 19, 1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76, 76, 76, 0)), color-stop(49%, rgba(48, 48, 48, 0)), color-stop(100%, rgba(19, 19, 19, 1)));
        background: -webkit-linear-gradient(top, rgba(76, 76, 76, 0) 0%, rgba(48, 48, 48, 0) 49%, rgba(19, 19, 19, 1) 100%);
        background: -o-linear-gradient(top, rgba(76, 76, 76, 0) 0%, rgba(48, 48, 48, 0) 49%, rgba(19, 19, 19, 1) 100%);
        background: -ms-linear-gradient(top, rgba(76, 76, 76, 0) 0%, rgba(48, 48, 48, 0) 49%, rgba(19, 19, 19, 1) 100%);
        background: linear-gradient(to bottom, rgba(76, 76, 76, 0) 0%, rgba(48, 48, 48, 0) 49%, rgba(19, 19, 19, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0);
    }
</style>