<template>
    <div class="row" >

        <div class="col-md-8 offset-md-2" >
            <h3 id="pablo" class="title" style="color: #3c4858;
    text-decoration: none;font-weight: 700;
    font-family: roboto slab,times new roman,serif;font-size: 1.825em;
    line-height: 1.4em;
    margin: 20px 0 10px;">  {{list.title}} :</h3>
            <p style="font-size: 19px;
    line-height: 1.5em;
    color: #555;
    margin-bottom: 30px;font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 300;
    line-height: 1.5em;">
                {{list.description}}
            </p>
<span v-for="(item , i) in list.items">
            <h4 style="font-size: x-large;">{{i+1}}) {{item.title}} <span>:</span> </h4>
            <p style="font-size: 19px;
    line-height: 1.5em;
    color: #555;
    margin-bottom: 30px;font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 300;
    line-height: 1.5em;">
              {{item.description}}
            </p>
                <h5 style="font-size: large;color: teal"> {{item.itemtext}}  </h5>

    <li style="margin: 20px" v-for="item1 in item.items">{{item1}}</li>

    </span>
        </div>
    </div>

</template>
<script>

    export default {
        name: 'about',
        components: {},
        props: {
            object: {
                type: [Object],
                required: true,
            }


        },
        data() {
            return {
                list: this.object,

            }
        }
    }
</script>
<style rel="stylesheet/scss" lang="scss" scoped>


</style>
