<template>

    <el-row style="background-color:teal" v-show="this.$route.meta.nav=== false ? false : true">
        <el-menu class="el-menu-demo " mode="horizontal"   active-text-color="teal" style="padding: 10px">
            <el-menu-item index="1"><span style="font-size: 20px"><router-link  to="/">ROBOTICS CLUB OF  PASHCHIMANCHAL CAMPUS</router-link></span> </el-menu-item>

            <el-menu-item  style="float: right;" index="8" ><router-link  to="/login">LOGIN </router-link></el-menu-item>
            <el-menu-item style="float: right;" index="7" > PARTNERS </el-menu-item>
            <el-menu-item style="float: right;" index="6" > SPONSERS </el-menu-item>

            <el-menu-item style="float: right;" index="5" >ACHIEVEMENTS </el-menu-item>
            <el-menu-item style="float: right;" index="4" ><a  href="https://robotics.wrc.edu.np/volunteer/">JOIN US </a></el-menu-item>


        </el-menu>

    </el-row>
</template>

<script>
    export default {

        data() {
            return {
                show: true,
            }
        },
        methods: {

        }
    }
</script>
